.captionSpan {
    color: #365073; 
    margin: 15px; 
    font-size: 32px;
}

.captionH3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}